
.error-msg{
    color: red;
    align: "center";
}

.comment {
    margin-top: 50px;
}


.sub-text {
    font-size: 10px
    color: #868e96;
    font-style: italic;
}

.commentText {
    /*order: 1;*/
    font-size: 30px;
    color: #212529;
    font-family: 'Lora', 'Times New Roman', serif;
    display: inline;
}

.commenterImage {
    /*order: 0;
    margin: 50% 0 50% 0 ;*/
    display: inline;
    padding: 20px;
}


/*
.commentList {
  text-align: left;
  list-style-position: inside;
}
*/
.commentList ul {
    display: table;
    margin: auto;
    text-align: left;
}



