
.error-msg{
    color: red;
    align: "center";
}

.commentText {
    /*order: 1;*/
    font-size: 30px;
    color: #212529;
    font-family: 'Lora', 'Times New Roman', serif;
    display: inline;
}

.sub-text {
    font-size: 10px
    color: #868e96;
    font-style: italic;
}

.commenterImage {
    /*order: 0;
    margin: 50% 0 50% 0 ;*/
    display: inline;
    padding: 20px;
}


.commentList {
    align: center;
}



